PORT=5000
MONGODB_URI=mongodb+srv://pateljitanjali1956_db_user:45JRRpomd7UtAx0c@cluster0.mv5z9xw.mongodb.net/?appName=Cluster0
JWT_SECRET=replace_with_a_long_random_secret
CLIENT_URL=http://localhost:5173
# 45JRRpomd7UtAx0c
